.live-jackpot{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    width: 100%;
    color: white;
    font-weight: 700;
}
.live-jackpot>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#3A3A3A linear-gradient(#414141,#333) no-repeat ;
    border-radius: 4px 4px 0 0;
    padding: 5px;
    height: 2rem;
}
.live-jackpot>div:nth-of-type(2){
    position: relative;
    display: flex;
    flex-direction: column;
    background:#3A3A3A linear-gradient(#414141,#333) no-repeat ;
    border-radius: 0 0 4px 4px;
    padding-top: 8px;
}
.live-jackpot>div:nth-of-type(2)>div{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 16%;
    left: 5%;
    margin: 0 auto;
    font-size: 1.5rem;
}
