.shad{
    text-shadow: 1px 1px 2px black, 0 0 1em cyan, 0 0 0.3em cyan;
    color: white;
    font: 2em Georgia, serif;
    margin-left: -10vh;
    text-align: center;
  }
  .bord{
    border: dotted white;
    border-width: 7px 4px;
    height: 5vh;
    width: 35vh;
    color:rgb(0,196,255);
    border-radius: 20px 20px;
  }
  .hove{
    width: 30vh;
    height: 20vh;
    position: relative;
  }
  /* .hove:hover{
    transition:all 5s ease-in-out !important;
    background-color: red;
    border-radius: 20px 20px;
  } */

 
  .butt{
    position: absolute;
    margin-top: -15vh;
    margin-left: 13vh;
    
  }
  @media (max-width:375px) {
    .bord{
      border: dotted white;
      border-width: 7px 4px;
      height: 7vh;
      width: 100%;
      color:rgb(0,196,255);
      border-radius: 20px 20px;
    }
  }
