.livebetsub{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    width: 80%;
}
.livebetsub>div:nth-of-type(1){
    align-items: center;
    background-color:rgb(96,96,96) !important;
    height: 2rem;
    border-radius: 4px;
    padding:5px;
}
.bal{
    width: 30px;
    height: 20px;
}