.bgg{
    background-color:#282828 !important;
    width: 99% !important;
    height: 7rem;
    border-radius: 4px;
    padding:px;
    color: white;
    line-height: 0.5;
}
.odd{
    /* width: 50%; */
    background-color: #505050;
    width: 25vh !important;
    height: 2rem;
    border-radius: 4px;
    padding:10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.box{
    width: 2rem;
    height: 2rem;
    background-color: #515151 !important;
    color: #B3B3B3;
}
.gap{
   line-height: 0.5;
}
.odd:hover{
    background-color: #666666;
}